helpers/openlinks/openlinks.app/
SublimeText/Packages/User/Package Control.cache
Package Control.cache
Package\ Control.cache
SublimeText/Packages/User/Package Control.cache
SublimeText/Packages/User/Package Control.last-run
